<div class="card">
	<div class="card-body">
		<button type="button" class="close" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h5 class="card-title">{{hookah.name}}</h5>
		<h6 class="card-subtitle">{{hookah.description}}</h6>
		<p class="card-text">Length: {{hookah.length}} cm</p>
		<p class="card-text">Diameter: {{hookah.diameter}} mm</p>
	</div>
</div>
