<form class="form-for-new-hookah mb-3">
	<button type="button" class="close" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="form-group">
		<label for="name-new-hookah">Name For Hookah</label>
		<input type="text" class="form-control" id="name-new-hookah" name="name" required>
	</div>
	<div class="form-group">
		<label for="description-new-hookah">Describe New Hookah</label>
		<input type="text" class="form-control" id="description-new-hookah" name="description" required>
	</div>
	<div class="form-group">
		<label for="length-new-hookah">Length of New Hookah</label>
		<input type="number" class="form-control" id="length-new-hookah" name="length" required>
	</div>
	<div class="form-group">
		<label for="diameter-new-hookah">Diameter of New Hookah</label>
		<input type="number" class="form-control" id="diameter-new-hookah" name="diameter" required>
	</div>
	<div class="text-center">
		<button type="submit" class="btn btn-outline-success ">Create!</button>
	</div>
</form>
