<div class="btn-group-vertical">
	{{#each hookahs}}
	<div class="btn-group" role="group">
		<button type="button" class="btn btn-outline-secondary get-hookah p-2 w-90" data-id={{id}}>{{name}}</button>
		<button class="btn btn-outline-danger p-2 w-10 delete-hookah" data-id={{id}} type="button">&times;</button>
	</div>
	{{/each}}
	<button type="button" class="btn btn-outline-success create-hookah">
		Create New Hookah!
	</button>
</div>
