<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		<li class="page-item {{#if isFirstPage}} disabled {{/if}}">
			<a class="page-link" tabindex="" data-page="{{previousPage}}">
				Previous
			</a>
		</li>
		{{#each pages}}
			<li class="page-item"><a class="page-link" tabindex="" data-page="{{this}}">{{this}}</a></li>
		{{/each}}
		<li class="page-item {{#if isLastPage}} disabled {{/if}}">
			<a class="page-link" tabindex="" data-page="{{nextPage}}">Next</a>
		</li>
	</ul>
</nav>